n8n/workflows/cdp_stokapi.json
{
  "name": "cdp_stokapi",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "muvstok-result",
        "options": {
          "rawBody": true
        }
      },
      "id": "8a1ae830-32d9-4bb8-994d-1c743ba80779",
      "name": "🔔 Webhook API Diversos Result",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        432
      ],
      "webhookId": "03d886a5-22ad-4cc0-9529-b3392b1f9b52"
    },
    {
      "parameters": {
        "jsCode": "function readEnv(name) {\n  try {\n    const fromN8n = typeof $env !== 'undefined' ? $env[name] : undefined;\n    if (fromN8n !== undefined && fromN8n !== null && String(fromN8n).trim()) {\n      return String(fromN8n).trim();\n    }\n  } catch (e) {}\n  try {\n    if (typeof process !== 'undefined' && process.env && process.env[name]) {\n      return String(process.env[name]).trim();\n    }\n  } catch (e) {}\n  return '';\n}\nfunction workflowName() {\n  try {\n    if (typeof $workflow !== 'undefined' && $workflow && $workflow.name) {\n      return String($workflow.name).trim();\n    }\n  } catch (e) {}\n  return '';\n}\nfunction isDevWorkflow() {\n  return /^DEV\\s*-/i.test(workflowName());\n}\nconst wh = $input.first().json;\nconst got = String(\n  wh.headers?.['x-webhook-secret'] || wh.headers?.['X-Webhook-Secret'] || ''\n).trim();\nconst want = isDevWorkflow()\n  ? readEnv('CDP_DEV_MUVSTOK_CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('CDP_MUVSTOK_CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('CDP_CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('N8N_WEBHOOK_SECRET') ||\n    ''\n  : readEnv('CDP_MUVSTOK_CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('CDP_CALLBACK_WEBHOOK_SECRET') ||\n    readEnv('N8N_WEBHOOK_SECRET') ||\n    '';\nreturn [{ json: { ...wh, authorized: !!want && got === want, secret_configured: !!want, secret_received: !!got } }];"
      },
      "id": "2ab9a09a-cfaf-451e-838a-77b68b7f89f7",
      "name": "🔐 Verificar Webhook Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "authorized",
              "leftValue": "={{ $json.authorized === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0014-4000-8000-000000000014",
      "name": "Secret válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -272,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- muvstok_sheet_helpers (auto) ---\n// Shared helpers for n8n API Diversos receiver Code nodes (Detalhado + Resumo).\n// Injected by scripts/patch_muvstok_receiver_workflow.py — do not edit workflow JSON by hand.\n\n/** User-facing labels written to Google Sheets (not internal webhook paths). */\nconst CDP_SITE_CODE = 'api-diversos';\nconst CDP_SITE_LABEL = 'API Diversos';\nconst CDP_ORIGEM_LABEL = 'API Diversos';\n\n/**\n * tipoEstoque codes used in titulo_bruto suffix.\n * NEW=0, VIVO=1, DORMENTE=2, MORTO=3, ESCRAPE=4\n */\nconst STOCK_TYPE_CODE_BY_NAME = {\n  new: 0,\n  novo: 0,\n  vivo: 1,\n  dormente: 2,\n  morto: 3,\n  escrape: 4,\n  scrape: 4,\n};\n\nfunction pickField(row, ...keys) {\n  if (!row || typeof row !== 'object') return null;\n  for (const k of keys) {\n    const v = row[k];\n    if (v !== null && v !== undefined && v !== '') return v;\n  }\n  return null;\n}\n\nfunction readEnv(name) {\n  try {\n    const fromN8n = typeof $env !== 'undefined' ? $env[name] : undefined;\n    if (fromN8n !== undefined && fromN8n !== null && String(fromN8n).trim()) {\n      return String(fromN8n).trim();\n    }\n  } catch (e) {}\n  try {\n    if (typeof process !== 'undefined' && process.env && process.env[name]) {\n      return String(process.env[name]).trim();\n    }\n  } catch (e) {}\n  return '';\n}\n\nfunction stockQty(row) {\n  if (!row || typeof row !== 'object') return 0;\n  const raw = pickField(\n    row,\n    'qtdeEstoque',\n    'qtdEstoque',\n    'quantidadeEstoque',\n    'quantidade',\n    'qtde',\n    'qtd',\n    'stock_quantity',\n    'estoque'\n  );\n  const n = Number(raw);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction isEmEstoque(row) {\n  return stockQty(row) >= 1;\n}\n\nfunction filterInStock(listings) {\n  return (Array.isArray(listings) ? listings : []).filter((row) => isEmEstoque(row));\n}\n\nfunction parsePrice(v) {\n  if (v === null || v === undefined || v === '') return null;\n  const n = Number(v);\n  if (Number.isFinite(n) && n > 0) return n;\n  const s = String(v).trim().replace(/\\s/g, '');\n  const br = s.replace(/\\./g, '').replace(',', '.');\n  const n2 = Number(br);\n  return Number.isFinite(n2) && n2 > 0 ? n2 : null;\n}\n\nfunction salePriceFromRow(row) {\n  return parsePrice(\n    pickField(row, 'valorPrecoVenda', 'valorprecovenda', 'valorprecavenda', 'price', 'preco')\n  );\n}\n\nfunction costPriceFromRow(row) {\n  return parsePrice(\n    pickField(row, 'valorCustoMedio', 'valorcustomedio', 'average_cost', 'custo')\n  );\n}\n\nfunction rowHasAnyPrice(row) {\n  return salePriceFromRow(row) !== null || costPriceFromRow(row) !== null;\n}\n\n/** Rows used for best-price: in-stock first; else any row with sale or cost price. */\nfunction rowsForPricing(listings) {\n  const arr = Array.isArray(listings) ? listings : [];\n  const inStock = filterInStock(arr);\n  if (inStock.length) return inStock;\n  return arr.filter((row) => row && typeof row === 'object' && rowHasAnyPrice(row));\n}\n\nfunction normalizeStockTypeKey(raw) {\n  return String(raw)\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\n/** Sheet value: 0–4 as string, or '' if unknown. */\nfunction stockTypeCode(row) {\n  const raw = pickField(row, 'tipoEstoque', 'tipoestoque', 'stock_type');\n  if (raw === null || raw === undefined || raw === '') return '';\n  const n = Number(raw);\n  if (Number.isFinite(n) && n >= 0 && n <= 4) return String(Math.round(n));\n  const key = normalizeStockTypeKey(raw);\n  if (key in STOCK_TYPE_CODE_BY_NAME) return String(STOCK_TYPE_CODE_BY_NAME[key]);\n  return '';\n}\n\nfunction formatPriceBr(n) {\n  if (n === null || n === undefined || !Number.isFinite(n)) return '';\n  return Number(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\n/** Detalhado preco = valorPrecoVenda (always; no tipoEstoque rule). */\nfunction naSalePriceFromRow(row) {\n  const p = salePriceFromRow(row);\n  if (p === null) return '';\n  return formatPriceBr(p);\n}\n\n/** Detalhado preco-medio = valorCustoMedio. */\nfunction naCostPriceFromRow(row) {\n  const p = costPriceFromRow(row);\n  if (p === null) return '';\n  return formatPriceBr(p);\n}\n\nfunction formatResumoPreco(n) {\n  if (n === null || n === undefined || !Number.isFinite(n)) return 'N/A';\n  return 'R$ ' + formatPriceBr(n);\n}\n\nfunction branchLabel(row) {\n  return String(\n    pickField(row, 'nomeFilial', 'nomefilial', 'branch_name', 'apelidoFilial', 'apelidofilial') || ''\n  ).trim();\n}\n\nfunction companyLabel(row) {\n  return String(\n    pickField(\n      row,\n      'razaoSocial',\n      'razaosocial',\n      'razao_social',\n      'nomeEmpresa',\n      'nomeempresa',\n      'empresa',\n      'company_name',\n      'seller_company_name',\n      'nomeFornecedor',\n      'nomefornecedor',\n      'fornecedor',\n      'nomeLoja',\n      'nomeloja',\n      'loja',\n      'nomeFilial',\n      'nomefilial',\n      'branch_name',\n      'apelidoFilial',\n      'apelidofilial'\n    ) || ''\n  ).trim();\n}\n\nconst BRAZIL_STATE_UF = {\n  acre: 'AC',\n  alagoas: 'AL',\n  amapa: 'AP',\n  amazonas: 'AM',\n  bahia: 'BA',\n  ceara: 'CE',\n  'distrito federal': 'DF',\n  'espirito santo': 'ES',\n  goias: 'GO',\n  maranhao: 'MA',\n  'mato grosso': 'MT',\n  'mato grosso do sul': 'MS',\n  'minas gerais': 'MG',\n  para: 'PA',\n  paraiba: 'PB',\n  parana: 'PR',\n  pernambuco: 'PE',\n  piaui: 'PI',\n  'rio de janeiro': 'RJ',\n  'rio grande do norte': 'RN',\n  'rio grande do sul': 'RS',\n  rondonia: 'RO',\n  roraima: 'RR',\n  'santa catarina': 'SC',\n  'sao paulo': 'SP',\n  sergipe: 'SE',\n  tocantins: 'TO',\n};\nconst BRAZIL_UFS = new Set(Object.values(BRAZIL_STATE_UF));\n\nfunction normalizeTextKey(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction normalizeUf(value) {\n  const text = String(value || '').trim().toUpperCase();\n  if (BRAZIL_UFS.has(text)) return text;\n  const normalized = normalizeTextKey(value);\n  if (BRAZIL_STATE_UF[normalized]) return BRAZIL_STATE_UF[normalized];\n  const match = normalized\n    .toUpperCase()\n    .match(/\\b(AC|AL|AP|AM|BA|CE|DF|ES|GO|MA|MT|MS|MG|PA|PB|PR|PE|PI|RJ|RN|RS|RO|RR|SC|SP|SE|TO)\\b/);\n  if (match) return match[1];\n  for (const [state, uf] of Object.entries(BRAZIL_STATE_UF)) {\n    if (normalized.includes(state)) return uf;\n  }\n  return '';\n}\n\nfunction sellerUf(row) {\n  return normalizeUf(\n    pickField(\n      row,\n      'uf',\n      'UF',\n      'estado',\n      'Estado',\n      'seller_uf',\n      'seller_state',\n      'state',\n      'ufFilial',\n      'uffilial',\n      'estadoFilial',\n      'estadofilial',\n      'localizacao',\n      'localização',\n      'location',\n      'cidade',\n      'municipio',\n      'município',\n      'endereco',\n      'endereço'\n    ) || ''\n  );\n}\n\nfunction normalizeCnpj(value) {\n  const text = String(value || '');\n  const match = text.match(/\\d{2}\\.?\\d{3}\\.?\\d{3}\\/?\\d{4}-?\\d{2}/);\n  if (!match) return '';\n  const digits = match[0].replace(/\\D/g, '');\n  return digits.length === 14 ? digits : '';\n}\n\nfunction cnpjFromRow(row) {\n  return normalizeCnpj(\n    pickField(\n      row,\n      'cnpj',\n      'CNPJ',\n      'seller_cnpj',\n      'cnpjFilial',\n      'cnpjfilial',\n      'cnpjEmpresa',\n      'cnpjempresa',\n      'cnpjFornecedor',\n      'cnpjfornecedor',\n      'documento',\n      'document',\n      'tax_id'\n    ) || ''\n  );\n}\n\nfunction brandLabel(row) {\n  return String(\n    pickField(row, 'fabricante', 'montadora', 'automaker', 'marca', 'brand') || ''\n  ).trim();\n}\n\nfunction productTitle(row) {\n  const name = String(pickField(row, 'produto', 'product_name', 'descricao') || '').trim();\n  const tipoCode = stockTypeCode(row);\n  if (!tipoCode) return name;\n  if (!name) return '[' + tipoCode + ']';\n  return name + ' [' + tipoCode + ']';\n}\n\n/** API Diversos has no product URL — Detalhado url_produto and Resumo LINK stay empty. */\nfunction productUrlForSheet(_sku, _row) {\n  return '';\n}\n\n/** @deprecated — seller contact no longer written to sheets */\nfunction buildContactInfo(_sku, _row) {\n  return productUrlForSheet();\n}\n\n/** @deprecated */\nfunction buildProductUrl(sku, row) {\n  return productUrlForSheet(sku, row);\n}\n\nfunction buildDemandUrl(sku) {\n  const base = (\n    readEnv('MUVSTOK_BASE_URL') ||\n    readEnv('CDP_MUVSTOK_DEMAND_BASE') ||\n    'https://data-bi.muvstok.com.br/api/Demand'\n  )\n    .trim()\n    .replace(/\\/+$/, '');\n  const code = String(sku || '').trim();\n  return code ? base + '/?sku=' + encodeURIComponent(code) : base;\n}\n\nfunction parseIsoMs(value) {\n  if (!value) return NaN;\n  const s = String(value).trim();\n  if (!s) return NaN;\n  const normalized = s.includes('T') ? s.replace('Z', '+00:00') : s;\n  const ms = Date.parse(normalized);\n  return Number.isFinite(ms) ? ms : NaN;\n}\n\nfunction resolveJobDurationSeconds(payload, meta, completedAt, startedAt) {\n  const fromApi = Number(payload?.duration_seconds);\n  if (Number.isFinite(fromApi) && fromApi > 0) {\n    return Math.round(fromApi * 100) / 100;\n  }\n  const endMs = parseIsoMs(completedAt || payload?.completed_at);\n  const startMs = parseIsoMs(\n    startedAt || payload?.started_at || meta?.dispatched_at || meta?.processing_started_at\n  );\n  if (Number.isFinite(endMs) && Number.isFinite(startMs) && endMs >= startMs) {\n    return Math.round(((endMs - startMs) / 1000) * 100) / 100;\n  }\n  return 0;\n}\n\nfunction skuSearchTimeMs(skuResult) {\n  const ms = Number(skuResult?.duration_ms);\n  return Number.isFinite(ms) && ms >= 0 ? Math.round(ms) : 0;\n}\n\n/** Resumo MELHOR PREÇO = lowest valorPrecoVenda across priced in-stock rows. */\nfunction bestOfferFromListings(listings) {\n  const priced = rowsForPricing(listings);\n  let bestPrice = null;\n  let bestSite = '';\n  for (const row of priced) {\n    if (!row || typeof row !== 'object') continue;\n    const p = salePriceFromRow(row);\n    if (p === null) continue;\n    if (bestPrice === null || p < bestPrice) {\n      bestPrice = p;\n      bestSite = branchLabel(row) || CDP_SITE_LABEL;\n    }\n  }\n  return { bestPrice, bestSite };\n}\n\nfunction normalizeResultStatus(value, rows) {\n  const raw = String(value || '').trim().toUpperCase();\n  if (\n    raw === 'FOUND_PRICE' ||\n    raw === 'NO_PRICE' ||\n    raw === 'NOT_FOUND' ||\n    raw === 'BLOCKED' ||\n    raw === 'TIMEOUT' ||\n    raw === 'ERROR' ||\n    raw === 'NOT_QUERIED'\n  ) {\n    return raw;\n  }\n  const lower = String(value || '').trim().toLowerCase();\n  if (lower.includes('blocked') || lower.includes('captcha') || lower.includes('403')) return 'BLOCKED';\n  if (lower.includes('timeout')) return 'TIMEOUT';\n  if (lower.includes('error') || lower.includes('failed') || lower.includes('http_')) return 'ERROR';\n  if (lower.includes('not_found') || lower.includes('not found') || lower.includes('no_results')) return 'NOT_FOUND';\n  if (lower.includes('no_price') || lower.includes('sem_preco')) return 'NO_PRICE';\n  const arr = Array.isArray(rows) ? rows : [];\n  if (!arr.length) return 'NOT_FOUND';\n  return hasValidPrice(rows) ? 'FOUND_PRICE' : 'NO_PRICE';\n}\n\nfunction normalizeSourceHealth(value, skuResult) {\n  const raw = String(value || skuResult?.source_health || '').trim().toUpperCase();\n  if (raw === 'OK' || raw === 'WORKING') return 'WORKING';\n  if (raw === 'BLOCKED' || raw === 'TIMEOUT' || raw === 'ERROR' || raw === 'NOT_QUERIED') return raw;\n  const result = normalizeResultStatus(skuResult?.sku_result || skuResult?.status || '', skuResult?.rows);\n  if (result === 'BLOCKED' || result === 'TIMEOUT' || result === 'ERROR' || result === 'NOT_QUERIED') {\n    return result;\n  }\n  return 'WORKING';\n}\n\nfunction hasValidPrice(rows) {\n  return rowsForPricing(rows).some((row) => salePriceFromRow(row) !== null);\n}\n\nfunction sheetStatusForResult(resultStatus, hasPrice) {\n  const raw = String(resultStatus || '').trim().toUpperCase();\n  const lower = String(resultStatus || '').trim().toLowerCase();\n  const status = normalizeResultStatus(resultStatus, []);\n  const explicitNegative =\n    raw === 'NO_PRICE' ||\n    raw === 'NOT_FOUND' ||\n    raw === 'BLOCKED' ||\n    raw === 'TIMEOUT' ||\n    raw === 'ERROR' ||\n    raw === 'NOT_QUERIED' ||\n    lower.includes('no_price') ||\n    lower.includes('sem_preco') ||\n    lower.includes('not_found') ||\n    lower.includes('not found') ||\n    lower.includes('blocked') ||\n    lower.includes('captcha') ||\n    lower.includes('timeout') ||\n    lower.includes('error') ||\n    lower.includes('failed') ||\n    lower.includes('http_');\n  if (status === 'FOUND_PRICE' || (hasPrice && !explicitNegative)) return '✅ Encontrado';\n  if (status === 'NO_PRICE') return '⚠️ Sem preço';\n  if (status === 'BLOCKED') return '🚫 Bloqueado';\n  if (status === 'TIMEOUT' || status === 'ERROR') return '⚠️ Erro';\n  return '❌ Não encontrado';\n}\n\nfunction availabilityForResult(resultStatus, stock) {\n  const status = normalizeResultStatus(resultStatus, []);\n  if (status === 'FOUND_PRICE') return toAvailabilityPt(stock);\n  if (status === 'NO_PRICE') return 'sem_preco';\n  if (status === 'BLOCKED') return 'bloqueado';\n  if (status === 'TIMEOUT') return 'timeout';\n  if (status === 'ERROR') return 'erro';\n  if (status === 'NOT_QUERIED') return 'sem_resultados';\n  return 'nao_encontrado';\n}\n\nfunction rawTitleForResult(resultStatus, fallback) {\n  const status = normalizeResultStatus(resultStatus, []);\n  const message = String(fallback || status || '').trim();\n  if (status === 'BLOCKED') return 'BLOQUEADO: ' + (message || 'API Diversos bloqueado');\n  if (status === 'TIMEOUT') return 'TIMEOUT: ' + (message || 'API Diversos timeout');\n  if (status === 'ERROR') return 'ERRO: ' + (message || 'API Diversos erro');\n  if (status === 'NO_PRICE') return 'SEM_PRECO: ' + (message || 'API Diversos sem preço');\n  if (status === 'NOT_FOUND') return 'NOT_FOUND';\n  return message || status;\n}\n// --- end muvstok_sheet_helpers ---\n\nfunction parseBody(raw) {\n  let p = raw;\n  if (typeof p === 'string') {\n    try { p = JSON.parse(p); } catch (e) { p = {}; }\n  }\n  return p && typeof p === 'object' ? p : {};\n}\nfunction na(v) {\n  if (v === null || v === undefined || v === '') return '';\n  return String(v);\n}\nfunction toBoolPt(v) { return v ? 'SIM' : 'NAO'; }\nfunction toAvailabilityPt(stock) {\n  const n = Number(stock);\n  if (!Number.isFinite(n) || n < 1) return 'fora_de_estoque';\n  return 'em_estoque';\n}\n\nconst wh = $input.first().json;\nconst payload = parseBody(wh.body);\nconst q = wh.query || {};\nconst meta = typeof payload.metadata === 'object' && payload.metadata !== null ? payload.metadata : {};\n\nconst jobId = na(payload.job_id);\nconst correlationId = na(payload.correlation_id);\nconst jobStatus = na(payload.status || 'unknown');\nconst completedAt = na(payload.completed_at || new Date().toISOString());\nconst startedAt = na(payload.started_at || meta.dispatched_at || '');\nconst submitted = Number(payload.submitted_sku_count || payload.requested_skus || 0);\nconst succeeded = Number(payload.succeeded_sku_count || 0);\nconst failed = Number(payload.failed_sku_count || 0);\nconst errors = Array.isArray(payload.errors) ? payload.errors : [];\nconst jobDuration = resolveJobDurationSeconds(payload, meta, completedAt, startedAt);\n\nlet chatId = String(meta.chat_id || q.chat_id || '').trim();\nlet replyEmail = String(meta.reply_email || q.reply_email || '').trim();\nlet replyChannel = String(meta.reply_channel || q.reply_channel || meta.command_origin || q.command_origin || '').trim().toLowerCase();\nlet commandOrigin = String(meta.command_origin || q.command_origin || '').trim().toLowerCase();\nlet notify = String(meta.notify || q.notify || '').trim().toLowerCase();\nif (!replyChannel) {\n  if (notify === 'email' || replyEmail) replyChannel = 'email';\n  else if (notify === 'telegram' || chatId) replyChannel = 'telegram';\n}\nif (!commandOrigin && replyChannel) commandOrigin = replyChannel;\nif (replyChannel === 'email') {\n  notify = 'email';\n  commandOrigin = 'email';\n  chatId = '';\n} else if (replyChannel === 'telegram') {\n  notify = 'telegram';\n  commandOrigin = 'telegram';\n  replyEmail = '';\n} else if (!chatId && !replyEmail) {\n  chatId = readEnv('TELEGRAM_DEFAULT_CHAT_ID');\n  if (chatId) {\n    notify = 'telegram';\n    replyChannel = 'telegram';\n    commandOrigin = commandOrigin || 'telegram';\n  }\n}\nif (!notify) notify = chatId ? 'telegram' : replyEmail ? 'email' : 'none';\n\nconst rows = [];\nconst skuSummaries = {};\nconst skuList = [];\n\nfunction pushDetalhado(base) {\n  rows.push({ json: base });\n}\n\nfunction markSku(sku, status) {\n  function normalizeSheetStatus(value) {\n    let s = String(value || '').trim().toLowerCase();\n    try { s = s.normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); } catch (e) {}\n    s = s.replace(/[^a-z0-9]+/g, ' ').trim();\n    if (!s) return '';\n    if (s.includes('sem preco') || s.includes('sem melhor preco') || s.includes('s preco') || s.includes('no price')) return 'sem_preco';\n    if (s.includes('nao encontrado') || s.includes('not found')) return 'nao_encontrado';\n    if (s.includes('bloqueado') || s.includes('blocked')) return 'bloqueado';\n    if (s.includes('encontrado') || s === 'found') return 'encontrado';\n    if (s.includes('processando') || s.includes('processing')) return 'processando';\n    return s;\n  }\n  function sheetStatusRank(value) {\n    const ranks = { processando: 0, nao_encontrado: 1, bloqueado: 2, sem_preco: 3, encontrado: 4 };\n    const key = normalizeSheetStatus(value);\n    return Object.prototype.hasOwnProperty.call(ranks, key) ? ranks[key] : -1;\n  }\n  function chooseSheetStatus(current, candidate) {\n    return sheetStatusRank(current) > sheetStatusRank(candidate) ? current : candidate;\n  }\n\n  const key = String(sku || '').trim().toUpperCase();\n  if (!key) return;\n  const next = String(status || '').trim() || '❌ Não encontrado';\n  if (!skuSummaries[key]) {\n    skuSummaries[key] = { sku: key, listing_count: 0, found: false, encontrado: '❌ Não encontrado' };\n  }\n  const chosen = chooseSheetStatus(skuSummaries[key].encontrado, next);\n  skuSummaries[key].encontrado = chosen;\n  const normalized = normalizeSheetStatus(chosen);\n  skuSummaries[key].found = normalized === 'encontrado' || normalized === 'sem_preco';\n  skuSummaries[key].listing_count += 1;\n  if (!skuList.includes(key)) skuList.push(key);\n}\n\nfunction listingRow(sku, row, statusItem, searchTimeMs) {\n  const skuSearched = na(sku).toUpperCase();\n  const skuFound = na(pickField(row, 'sku', 'SKU', 'skuSemCaractereEspecial') || sku);\n  const stock = pickField(row, 'qtdeEstoque', 'qtdEstoque', 'stock_quantity');\n  const filial = branchLabel(row);\n  const company = companyLabel(row);\n  const empresa = (company && company !== filial) ? company : '';\n  const saleStr = naSalePriceFromRow(row);\n  const costStr = naCostPriceFromRow(row);\n  const ms = Number(searchTimeMs);\n  const resultStatus = saleStr ? 'FOUND_PRICE' : normalizeResultStatus(statusItem || 'NO_PRICE', [row]);\n  const health = normalizeSourceHealth('', { sku_result: resultStatus });\n  const hasPrice = saleStr !== '';\n  const encontrado = sheetStatusForResult(resultStatus, hasPrice);\n  const title = productTitle(row);\n  return {\n    job_id: jobId,\n    sku_searched: skuSearched,\n    sku_found: skuFound || 'N/A',\n    exact_match: toBoolPt(skuFound && skuSearched === String(skuFound).trim().toUpperCase()),\n    site: CDP_SITE_LABEL,\n    price: saleStr,\n    preco_medio: costStr,\n    currency: 'BRL',\n    seller: filial || 'N/A',\n    uf: sellerUf(row),\n    empresa: empresa,\n    cnpj: cnpjFromRow(row),\n    product_url: productUrlForSheet(skuSearched, row),\n    regiao: 'Brasil',\n    raw_title: title || (hasPrice ? '' : ''),\n    scraped_at: completedAt,\n    search_time_ms: String(Number.isFinite(ms) && ms >= 0 ? Math.round(ms) : 0),\n    condition: 'novo',\n    brand: brandLabel(row) || 'N/A',\n    site_code: CDP_SITE_CODE,\n    status_resultado: resultStatus,\n    source_health: health,\n    has_valid_price: hasPrice,\n    fonte_pipeline: CDP_ORIGEM_LABEL,\n    _encontrado: encontrado,\n  };\n}\n\nconst warehouseResults = Array.isArray(payload.results) ? payload.results : [];\nif (warehouseResults.length) {\n  for (const skuResult of warehouseResults) {\n    const sku = na(skuResult.sku);\n    const rawListings = Array.isArray(skuResult.rows)\n      ? skuResult.rows\n      : Array.isArray(skuResult.listings)\n        ? skuResult.listings\n        : [];\n    const resultStatus = normalizeResultStatus(skuResult.sku_result || skuResult.status, rawListings);\n    const sourceHealth = normalizeSourceHealth(skuResult.source_health, skuResult);\n    const listings = rowsForPricing(rawListings);\n    if (!listings.length) {\n      const sheetStatus = sheetStatusForResult(resultStatus, false);\n      markSku(sku, sheetStatus);\n      pushDetalhado({\n        job_id: jobId,\n        sku_searched: sku,\n        sku_found: 'N/A',\n        exact_match: toBoolPt(false),\n        site: 'API Diversos',\n        price: 'N/A',\n        preco_medio: 'N/A',\n        currency: 'BRL',\n        availability: availabilityForResult(resultStatus, 0),\n        seller: 'N/A',\n        uf: '',\n        empresa: 'N/A',\n        cnpj: '',\n        product_url: productUrlForSheet(sku, null),\n        origin: 'N/A',\n        raw_title: rawTitleForResult(resultStatus, na(skuResult.error_code || skuResult.status || 'not_found')),\n        scraped_at: completedAt,\n        search_time_ms: String(skuSearchTimeMs(skuResult)),\n        condition: 'N/A',\n        job_duration_s: String(jobDuration),\n        brand: 'N/A',\n        site_code: CDP_SITE_CODE,\n        status_resultado: resultStatus,\n        source_health: sourceHealth,\n        has_valid_price: false,\n        _encontrado: sheetStatus,\n      });\n      continue;\n    }\n    for (const row of listings) {\n      if (!row || typeof row !== 'object') continue;\n      const detail = listingRow(sku, row, resultStatus, skuSearchTimeMs(skuResult));\n      markSku(sku, detail._encontrado);\n      pushDetalhado(detail);\n    }\n  }\n} else {\n  const items = Array.isArray(payload.items) ? payload.items : [];\n  for (const item of items) {\n    const sku = na(item.sku);\n    const st = na(item.status).toLowerCase();\n    const itemHasPrice = Boolean(item.has_valid_price);\n    const resultStatus = normalizeResultStatus(item.sku_result || item.error_code || st, itemHasPrice ? [{ valorPrecoVenda: 1, qtdeEstoque: 1 }] : []);\n    const sourceHealth = normalizeSourceHealth(item.source_health, item);\n    const found = resultStatus === 'FOUND_PRICE';\n    const sheetStatus = sheetStatusForResult(resultStatus, found);\n    markSku(sku, sheetStatus);\n    pushDetalhado({\n      job_id: jobId,\n      sku_searched: sku,\n      sku_found: found ? sku : 'N/A',\n      exact_match: toBoolPt(found),\n      site: 'API Diversos',\n      price: 'N/A',\n      currency: 'BRL',\n      availability: availabilityForResult(resultStatus, 0),\n      seller: 'N/A',\n      uf: '',\n      empresa: 'N/A',\n      cnpj: '',\n      product_url: productUrlForSheet(sku),\n      origin: 'N/A',\n      raw_title: rawTitleForResult(resultStatus, na(item.error_code || st)),\n      scraped_at: completedAt,\n      search_time_ms: '0',\n      condition: 'N/A',\n      job_duration_s: String(jobDuration),\n      brand: 'N/A',\n      site_code: CDP_SITE_CODE,\n      status_resultado: resultStatus,\n      source_health: sourceHealth,\n      has_valid_price: found,\n      _encontrado: sheetStatus,\n    });\n  }\n}\n\nif (!rows.length) {\n  pushDetalhado({\n    job_id: jobId,\n    sku_searched: 'SEM_DADOS',\n    sku_found: 'N/A',\n    exact_match: toBoolPt(false),\n    site: 'API Diversos',\n    price: 'N/A',\n    currency: 'BRL',\n    availability: 'no_results',\n    seller: 'N/A',\n    product_url: '',\n    origin: 'N/A',\n    raw_title: 'SEM RESULTADOS API DIVERSOS',\n    scraped_at: completedAt,\n    search_time_ms: '0',\n    condition: 'N/A',\n    job_duration_s: String(jobDuration),\n    brand: 'N/A',\n    site_code: CDP_SITE_CODE,\n    status_resultado: 'NOT_QUERIED',\n    source_health: 'NOT_QUERIED',\n    has_valid_price: false,\n    _encontrado: '❌ Não encontrado',\n  });\n}\n\nconst errorText = errors\n  .map((e) => (typeof e === 'string' ? e : JSON.stringify(e)))\n  .slice(0, 5)\n  .join(' | ');\n\nconst govIssues = [];\nif (submitted > 0 && succeeded + failed !== submitted) {\n  govIssues.push({ code: 'sku_count_mismatch', message: `submitted=${submitted} succeeded+failed=${succeeded + failed}` });\n}\nif (Array.isArray(meta.governance_issues)) {\n  for (const g of meta.governance_issues) govIssues.push(g);\n}\nconst foundPriceCount = Number(payload.found_sku_count ?? Object.values(skuSummaries).filter((s) => String(s.encontrado || '').includes('Encontrado')).length);\nconst noPriceCount = Number(payload.no_price_sku_count || 0);\nconst notFoundCount = Number(payload.not_found_sku_count || 0);\nconst blockedCount = Number(payload.blocked_sku_count || 0);\nconst errorCount = Number(payload.error_sku_count || 0);\nconst skuHitPct = submitted > 0 ? ((foundPriceCount / submitted) * 100).toFixed(1) + '%' : '0.0%';\nconst historico = {\n  job_id: jobId,\n  origem: CDP_ORIGEM_LABEL,\n  solicitante: chatId || replyEmail || '—',\n  disparado_em: startedAt || completedAt,\n  concluido_em: completedAt,\n  tempo_segundos: jobDuration,\n  status: failed > 0 && succeeded === 0 ? '❌ ERRO_JOB' : succeeded > 0 ? '✅ CONCLUIDO' : '⚠️ AVISOS',\n  skus_lidos: submitted,\n  skus_validos: submitted,\n  skus_encontrados: foundPriceCount,\n  skus_falhos: notFoundCount + blockedCount + errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  skus_not_found: notFoundCount,\n  skus_blocked: blockedCount,\n  skus_error: errorCount,\n  taxa_sucesso_sku: skuHitPct,\n  taxa_sucesso_sites: 'N/A',\n  sites_pesquisados: 1,\n  resumo_sites: JSON.stringify({ [CDP_SITE_CODE]: skuHitPct, no_price: noPriceCount, not_found: notFoundCount, blocked: blockedCount, error: errorCount }),\n  lista_skus_csv: skuList.join(', ') || '—',\n  skus_repetidos: '—',\n  job_error: errorText || '—',\n};\n\nif (typeof $getWorkflowStaticData === 'function') {\n  const sd = $getWorkflowStaticData('global');\n  sd.muvstok_last_callback = {\n    notify,\n    chat_id: chatId,\n    job_id: jobId,\n    correlation_id: correlationId,\n    job_status: jobStatus,\n    submitted_sku_count: submitted,\n    succeeded_sku_count: succeeded,\n    failed_sku_count: failed,\n    found_sku_count: foundPriceCount,\n    no_price_sku_count: noPriceCount,\n    not_found_sku_count: notFoundCount,\n    blocked_sku_count: blockedCount,\n    error_sku_count: errorCount,\n    delivery_mode: String(meta.delivery_mode || q.delivery_mode || '').trim().toLowerCase(),\n    batch_group_id: String(meta.batch_group_id || q.batch_group_id || '').trim(),\n    reply_channel: replyChannel || notify,\n    command_origin: commandOrigin || replyChannel || notify,\n    reply_email: replyEmail,\n    duration_seconds: jobDuration,\n    detail_rows: rows.length,\n    error: errorText,\n    error_text: errorText,\n    completed_at: completedAt,\n    historico,\n    sku_updates: Object.values(skuSummaries).map((s) => ({\n      sku: s.sku,\n      PROCESSADO: '✅ Processado',\n      ENCONTRADO: s.encontrado || (s.found ? '✅ Encontrado' : '❌ Não encontrado'),\n      listing_count: s.listing_count,\n    })),\n    governance_issues: govIssues,\n  };\n}\n\nreturn rows;\n"
      },
      "id": "7e344cbd-712d-4194-98d9-0299885b48f1",
      "name": "📊 Extrair linhas API Diversos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo",
          "mode": "list",
          "cachedResultName": "cdp_resultados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Detalhado",
          "mode": "name",
          "cachedResultName": "Detalhado"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "sku_pesquisado": "={{ $json.sku_searched }}",
            "sku_encontrado": "={{ $json.sku_found }}",
            "correspondencia_exata": "={{ $json.exact_match }}",
            "site": "={{ $json.site }}",
            "codigo_site": "={{ $json.site_code }}",
            "status_resultado": "={{ $json.status_resultado }}",
            "has_valid_price": "={{ $json.has_valid_price }}",
            "source_health": "={{ $json.source_health }}",
            "preco": "={{ $json.price }}",
            "preco-medio": "={{ $json.preco_medio }}",
            "moeda": "={{ $json.currency }}",
            "condicao": "={{ $json.condition }}",
            "vendedor": "={{ $json.seller }}",
            "uf": "={{ $json.uf }}",
            "empresa": "={{ $json.empresa }}",
            "cnpj": "={{ $json.cnpj }}",
            "url_produto": "={{ $json.product_url }}",
            "titulo_bruto": "={{ $json.raw_title }}",
            "marca": "={{ $json.brand }}",
            "regiao": "={{ $json.regiao }}",
            "coletado_em": "={{ $json.scraped_at }}",
            "tempo_busca_ms": "={{ $json.search_time_ms }}",
            "fonte_pipeline": "={{ $json.fonte_pipeline }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "910331e3-9ad9-4fe6-b9d9-373879fdc94c",
      "name": "📊 Salvar → CDP_Resultados (Detalhado)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        176,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ep05fPlF3xggWhWc",
          "name": "gcp sheets lucas@tktech"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let meta = {};\ntry {\n  if (typeof $getWorkflowStaticData === 'function') {\n    meta = $getWorkflowStaticData('global').muvstok_last_callback || {};\n  }\n} catch (e) {}\nconst updates = Array.isArray(meta.sku_updates) ? meta.sku_updates : [];\nreturn updates.map((row) => ({ json: row }));"
      },
      "id": "d5b76a05-5652-4d11-9260-524017d0533c",
      "name": "📋 SKUs para atualizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IGhsIhrwlnMaCduR-W-eIi9O4mMO2pPYjE-tefgIPII",
          "mode": "list",
          "cachedResultName": "cdp_skus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IGhsIhrwlnMaCduR-W-eIi9O4mMO2pPYjE-tefgIPII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 843035952,
          "mode": "list",
          "cachedResultName": "SKUs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IGhsIhrwlnMaCduR-W-eIi9O4mMO2pPYjE-tefgIPII/edit#gid=843035952"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "PROCESSADO 🤖": "={{ $json.PROCESSADO }}",
            "ENCONTRADO 🤖": "={{ $json.ENCONTRADO }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            },
            {
              "id": "PROCESSADO 🤖",
              "displayName": "PROCESSADO 🤖",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENCONTRADO 🤖",
              "displayName": "ENCONTRADO 🤖",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "dd0dd0ac-453d-4115-8752-140f4ae06de5",
      "name": "✅ Atualizar CDP_SKUs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ep05fPlF3xggWhWc",
          "name": "gcp sheets lucas@tktech"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// User-facing same-channel notification for API Diversos completion (injected into cdp_stokapi).\nconst ASSISTANT_NAME = 'Assistente CDP';\nconst WEBSCRAPERS_LABEL = 'WEBSCRAPERS';\nconst ESTOQUE_LABEL = 'ESTOQUE ONLINE';\n\nlet j = {};\ntry {\n  if (typeof $getWorkflowStaticData === 'function') {\n    j = $getWorkflowStaticData('global').muvstok_last_callback || {};\n  }\n} catch (e) {}\n\nfunction env(name) {\n  try {\n    if (typeof process !== 'undefined' && process.env && process.env[name]) {\n      return String(process.env[name]).trim();\n    }\n  } catch (e) {}\n  return '';\n}\n\nfunction workflowName() {\n  try {\n    if (typeof $workflow !== 'undefined' && $workflow && $workflow.name) {\n      return String($workflow.name).trim();\n    }\n  } catch (e) {}\n  return '';\n}\n\nfunction isDevWorkflow() {\n  return /^DEV\\s*-/i.test(workflowName());\n}\n\nfunction envFor(name) {\n  if (!isDevWorkflow()) return env(name);\n  const map = {\n    CDP_RESULTADOS_SHEETS_URL: 'CDP_DEV_RESULTADOS_SHEETS_URL',\n  };\n  const mapped = map[name] || '';\n  return mapped ? env(mapped) : '';\n}\n\nconst configuredReportUrl = envFor('CDP_RESULTADOS_SHEETS_URL');\nconst reportUrl =\n  configuredReportUrl || (isDevWorkflow()\n    ? ''\n    : 'https://docs.google.com/spreadsheets/d/1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo/edit#gid=1185876304');\n\nif (String(j.delivery_mode || '').trim().toLowerCase() === 'aggregate') {\n  return [{ json: { skip: true, reason: 'aggregate_delivery' } }];\n}\n\nconst ok = Number(j.succeeded_sku_count) || 0;\nconst fail = Number(j.failed_sku_count) || 0;\nconst total = Number(j.submitted_sku_count) || ok + fail;\nconst linhas = Number(j.detail_rows) || 0;\nconst found = Number(j.found_sku_count) || 0;\nconst noPrice = Number(j.no_price_sku_count) || 0;\nconst notFound = Number(j.not_found_sku_count) || 0;\nconst blocked = Number(j.blocked_sku_count) || 0;\nconst errors = Number(j.error_sku_count) || 0;\nlet notify = String(j.notify || j.reply_channel || '').trim().toLowerCase();\nlet chatId = String(j.chat_id || '').trim();\nlet replyEmail = String(j.reply_email || '').trim();\n\nif (!notify) {\n  if (replyEmail) notify = 'email';\n  else if (chatId) notify = 'telegram';\n}\nif (notify === 'email') {\n  chatId = '';\n} else if (notify === 'telegram') {\n  replyEmail = '';\n}\n\nlet resumo;\nif (fail > 0 && ok === 0) {\n  resumo = 'Não foi possível consultar o estoque desta vez.';\n} else if (total === 1) {\n  resumo = '1 peça consultada.';\n} else {\n  resumo = total + ' peças consultadas.';\n}\n\nresumo += ' Com preço: ' + found + '.';\nif (noPrice > 0) resumo += ' Sem preço: ' + noPrice + '.';\nif (notFound > 0) resumo += ' Não encontradas: ' + notFound + '.';\nif (blocked > 0) resumo += ' Bloqueadas: ' + blocked + '.';\nif (errors > 0) resumo += ' Erros: ' + errors + '.';\n\nif (linhas > 0) {\n  resumo += ' ' + (linhas === 1 ? '1 oferta registrada' : linhas + ' ofertas registradas') + ' no relatório.';\n} else if (found > 0 || noPrice > 0) {\n  resumo += ' Nenhuma oferta nova no relatório.';\n}\n\nconst lines = [\n  '🤖 *' + ASSISTANT_NAME + '*',\n  '',\n  '✅ *' + ESTOQUE_LABEL + ': consulta concluída*',\n  '',\n  resumo,\n  '',\n  '📎 Relatório: ' + reportUrl,\n];\n\nif (blocked > 0 || errors > 0) {\n  lines.splice(4, 0, '⚠️ Algumas fontes tiveram bloqueio ou erro.');\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction pctLabel(value, divisor) {\n  const n = Number(value) || 0;\n  const d = Number(divisor) || 0;\n  return d > 0 ? ((n / d) * 100).toFixed(1) + '%' : '0.0%';\n}\n\nif (notify === 'email' && replyEmail) {\n  const pct = pctLabel(found, total);\n  const tone = errors > 0 || blocked > 0 ? '#b45309' : '#047857';\n  const status = errors > 0 || blocked > 0 ? 'Concluída com avisos' : 'Consulta concluída';\n  const html =\n    '<div style=\"margin:0;padding:0;background:#f6f8fb;font-family:Arial,Helvetica,sans-serif;color:#1f2937\">' +\n    '<div style=\"max-width:640px;margin:0 auto;padding:28px 18px\">' +\n    '<div style=\"background:#ffffff;border:1px solid #e5e7eb;border-radius:12px;overflow:hidden\">' +\n    '<div style=\"padding:22px 24px;border-bottom:1px solid #eef2f7\">' +\n    '<div style=\"font-size:12px;text-transform:uppercase;letter-spacing:0;color:#64748b;font-weight:700\">' +\n    escapeHtml(ESTOQUE_LABEL) +\n    '</div>' +\n    '<h1 style=\"font-size:24px;line-height:1.25;margin:8px 0 0;color:#111827\">' +\n    escapeHtml(status) +\n    '</h1>' +\n    '</div>' +\n    '<div style=\"padding:22px 24px\">' +\n    '<p style=\"font-size:15px;line-height:1.6;margin:0 0 18px\">A consulta no Estoque Online foi finalizada.</p>' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin:0 0 20px\">' +\n    '<tr>' +\n    '<td style=\"padding:14px 16px;background:#f8fafc;border:1px solid #e5e7eb;border-radius:8px\">' +\n    '<div style=\"font-size:12px;color:#64748b;text-transform:uppercase;font-weight:700\">Peças consultadas</div>' +\n    '<div style=\"font-size:26px;font-weight:700;color:#111827;margin-top:4px\">' +\n    total +\n    '</div>' +\n    '</td>' +\n    '<td width=\"12\"></td>' +\n    '<td style=\"padding:14px 16px;background:#f8fafc;border:1px solid #e5e7eb;border-radius:8px\">' +\n    '<div style=\"font-size:12px;color:#64748b;text-transform:uppercase;font-weight:700\">Com preço</div>' +\n    '<div style=\"font-size:26px;font-weight:700;color:' +\n    tone +\n    ';margin-top:4px\">' +\n    found +\n    '</div>' +\n    '</td>' +\n    '</tr>' +\n    '</table>' +\n    '<div style=\"font-size:14px;line-height:1.7;color:#475569\">' +\n    '<strong>Taxa com preço:</strong> ' +\n    pct +\n    '<br><strong>Sem preço:</strong> ' +\n    noPrice +\n    '<br><strong>Não encontradas:</strong> ' +\n    notFound +\n    '<br><strong>Bloqueadas:</strong> ' +\n    blocked +\n    '<br><strong>Erros:</strong> ' +\n    errors +\n    '</div>' +\n    '<div style=\"background:#f8fafc;border:1px solid #e5e7eb;border-radius:8px;padding:12px 14px;margin:20px 0 0;font-size:13px;line-height:1.6;color:#475569\">Este é o resultado de <strong>' +\n    escapeHtml(ESTOQUE_LABEL) +\n    '</strong>. O resultado de <strong>' +\n    escapeHtml(WEBSCRAPERS_LABEL) +\n    '</strong> chega em um e-mail separado quando a busca nos sites terminar.</div>' +\n    '<p style=\"margin:22px 0 0\"><a href=\"' +\n    escapeHtml(reportUrl) +\n    '\" style=\"display:inline-block;background:#2563eb;color:#ffffff;text-decoration:none;border-radius:8px;padding:12px 18px;font-weight:700;font-size:14px\">Abrir relatório</a></p>' +\n    '</div>' +\n    '</div>' +\n    '<div style=\"font-size:12px;line-height:1.5;color:#94a3b8;text-align:center;padding:14px 0 0\">Mensagem automática do Assistente CDP.</div>' +\n    '</div>' +\n    '</div>';\n\n  return [\n    {\n      json: {\n        skip: false,\n        notify: 'email',\n        email_to: replyEmail,\n        email_subject: ASSISTANT_NAME + ' - ' + ESTOQUE_LABEL + ': consulta concluída (' + found + '/' + total + ' com preço)',\n        email_html: html,\n      },\n    },\n  ];\n}\n\nif (notify !== 'telegram' || !chatId) {\n  return [{ json: { skip: true, reason: 'no_notification_target' } }];\n}\n\nreturn [\n  {\n    json: {\n      skip: false,\n      notify: 'telegram',\n      telegram_chat_id: chatId,\n      telegram_text: lines.join('\\n'),\n    },\n  },\n];\n"
      },
      "id": "31ddb84a-7f5a-4b4f-a972-aaf3eb7328a8",
      "name": "📣 Formatar Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "send-tg",
              "leftValue": "={{ $json.notify === 'telegram' && !$json.skip && !!$json.telegram_chat_id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55f830cb-7db9-4ff4-803d-39eeee1f1849",
      "name": "Enviar Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        624,
        528
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "4f4d4296-d139-4fc3-84cb-1ff6a8c2baed",
      "name": "📱 Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        528
      ],
      "webhookId": "bc226546-378d-495e-8eae-71988b46a4eb",
      "credentials": {
        "telegramApi": {
          "id": "UmDqGKD8k0bA10j2",
          "name": "CDP-Bot"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: false, error: 'Webhook secret inválido' } }];"
      },
      "id": "66b1f8cb-1530-414f-b124-0c6918185700",
      "name": "🚫 Secret inválido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- muvstok_sheet_helpers (auto) ---\n// Shared helpers for n8n API Diversos receiver Code nodes (Detalhado + Resumo).\n// Injected by scripts/patch_muvstok_receiver_workflow.py — do not edit workflow JSON by hand.\n\n/** User-facing labels written to Google Sheets (not internal webhook paths). */\nconst CDP_SITE_CODE = 'api-diversos';\nconst CDP_SITE_LABEL = 'API Diversos';\nconst CDP_ORIGEM_LABEL = 'API Diversos';\n\n/**\n * tipoEstoque codes used in titulo_bruto suffix.\n * NEW=0, VIVO=1, DORMENTE=2, MORTO=3, ESCRAPE=4\n */\nconst STOCK_TYPE_CODE_BY_NAME = {\n  new: 0,\n  novo: 0,\n  vivo: 1,\n  dormente: 2,\n  morto: 3,\n  escrape: 4,\n  scrape: 4,\n};\n\nfunction pickField(row, ...keys) {\n  if (!row || typeof row !== 'object') return null;\n  for (const k of keys) {\n    const v = row[k];\n    if (v !== null && v !== undefined && v !== '') return v;\n  }\n  return null;\n}\n\nfunction readEnv(name) {\n  try {\n    const fromN8n = typeof $env !== 'undefined' ? $env[name] : undefined;\n    if (fromN8n !== undefined && fromN8n !== null && String(fromN8n).trim()) {\n      return String(fromN8n).trim();\n    }\n  } catch (e) {}\n  try {\n    if (typeof process !== 'undefined' && process.env && process.env[name]) {\n      return String(process.env[name]).trim();\n    }\n  } catch (e) {}\n  return '';\n}\n\nfunction stockQty(row) {\n  if (!row || typeof row !== 'object') return 0;\n  const raw = pickField(\n    row,\n    'qtdeEstoque',\n    'qtdEstoque',\n    'quantidadeEstoque',\n    'quantidade',\n    'qtde',\n    'qtd',\n    'stock_quantity',\n    'estoque'\n  );\n  const n = Number(raw);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction isEmEstoque(row) {\n  return stockQty(row) >= 1;\n}\n\nfunction filterInStock(listings) {\n  return (Array.isArray(listings) ? listings : []).filter((row) => isEmEstoque(row));\n}\n\nfunction parsePrice(v) {\n  if (v === null || v === undefined || v === '') return null;\n  const n = Number(v);\n  if (Number.isFinite(n) && n > 0) return n;\n  const s = String(v).trim().replace(/\\s/g, '');\n  const br = s.replace(/\\./g, '').replace(',', '.');\n  const n2 = Number(br);\n  return Number.isFinite(n2) && n2 > 0 ? n2 : null;\n}\n\nfunction salePriceFromRow(row) {\n  return parsePrice(\n    pickField(row, 'valorPrecoVenda', 'valorprecovenda', 'valorprecavenda', 'price', 'preco')\n  );\n}\n\nfunction costPriceFromRow(row) {\n  return parsePrice(\n    pickField(row, 'valorCustoMedio', 'valorcustomedio', 'average_cost', 'custo')\n  );\n}\n\nfunction rowHasAnyPrice(row) {\n  return salePriceFromRow(row) !== null || costPriceFromRow(row) !== null;\n}\n\n/** Rows used for best-price: in-stock first; else any row with sale or cost price. */\nfunction rowsForPricing(listings) {\n  const arr = Array.isArray(listings) ? listings : [];\n  const inStock = filterInStock(arr);\n  if (inStock.length) return inStock;\n  return arr.filter((row) => row && typeof row === 'object' && rowHasAnyPrice(row));\n}\n\nfunction normalizeStockTypeKey(raw) {\n  return String(raw)\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\n/** Sheet value: 0–4 as string, or '' if unknown. */\nfunction stockTypeCode(row) {\n  const raw = pickField(row, 'tipoEstoque', 'tipoestoque', 'stock_type');\n  if (raw === null || raw === undefined || raw === '') return '';\n  const n = Number(raw);\n  if (Number.isFinite(n) && n >= 0 && n <= 4) return String(Math.round(n));\n  const key = normalizeStockTypeKey(raw);\n  if (key in STOCK_TYPE_CODE_BY_NAME) return String(STOCK_TYPE_CODE_BY_NAME[key]);\n  return '';\n}\n\nfunction formatPriceBr(n) {\n  if (n === null || n === undefined || !Number.isFinite(n)) return '';\n  return Number(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\n/** Detalhado preco = valorPrecoVenda (always; no tipoEstoque rule). */\nfunction naSalePriceFromRow(row) {\n  const p = salePriceFromRow(row);\n  if (p === null) return '';\n  return formatPriceBr(p);\n}\n\n/** Detalhado preco-medio = valorCustoMedio. */\nfunction naCostPriceFromRow(row) {\n  const p = costPriceFromRow(row);\n  if (p === null) return '';\n  return formatPriceBr(p);\n}\n\nfunction formatResumoPreco(n) {\n  if (n === null || n === undefined || !Number.isFinite(n)) return 'N/A';\n  return 'R$ ' + formatPriceBr(n);\n}\n\nfunction branchLabel(row) {\n  return String(\n    pickField(row, 'nomeFilial', 'nomefilial', 'branch_name', 'apelidoFilial', 'apelidofilial') || ''\n  ).trim();\n}\n\nfunction companyLabel(row) {\n  return String(\n    pickField(\n      row,\n      'razaoSocial',\n      'razaosocial',\n      'razao_social',\n      'nomeEmpresa',\n      'nomeempresa',\n      'empresa',\n      'company_name',\n      'seller_company_name',\n      'nomeFornecedor',\n      'nomefornecedor',\n      'fornecedor',\n      'nomeLoja',\n      'nomeloja',\n      'loja',\n      'nomeFilial',\n      'nomefilial',\n      'branch_name',\n      'apelidoFilial',\n      'apelidofilial'\n    ) || ''\n  ).trim();\n}\n\nconst BRAZIL_STATE_UF = {\n  acre: 'AC',\n  alagoas: 'AL',\n  amapa: 'AP',\n  amazonas: 'AM',\n  bahia: 'BA',\n  ceara: 'CE',\n  'distrito federal': 'DF',\n  'espirito santo': 'ES',\n  goias: 'GO',\n  maranhao: 'MA',\n  'mato grosso': 'MT',\n  'mato grosso do sul': 'MS',\n  'minas gerais': 'MG',\n  para: 'PA',\n  paraiba: 'PB',\n  parana: 'PR',\n  pernambuco: 'PE',\n  piaui: 'PI',\n  'rio de janeiro': 'RJ',\n  'rio grande do norte': 'RN',\n  'rio grande do sul': 'RS',\n  rondonia: 'RO',\n  roraima: 'RR',\n  'santa catarina': 'SC',\n  'sao paulo': 'SP',\n  sergipe: 'SE',\n  tocantins: 'TO',\n};\nconst BRAZIL_UFS = new Set(Object.values(BRAZIL_STATE_UF));\n\nfunction normalizeTextKey(value) {\n  return String(value || '')\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction normalizeUf(value) {\n  const text = String(value || '').trim().toUpperCase();\n  if (BRAZIL_UFS.has(text)) return text;\n  const normalized = normalizeTextKey(value);\n  if (BRAZIL_STATE_UF[normalized]) return BRAZIL_STATE_UF[normalized];\n  const match = normalized\n    .toUpperCase()\n    .match(/\\b(AC|AL|AP|AM|BA|CE|DF|ES|GO|MA|MT|MS|MG|PA|PB|PR|PE|PI|RJ|RN|RS|RO|RR|SC|SP|SE|TO)\\b/);\n  if (match) return match[1];\n  for (const [state, uf] of Object.entries(BRAZIL_STATE_UF)) {\n    if (normalized.includes(state)) return uf;\n  }\n  return '';\n}\n\nfunction sellerUf(row) {\n  return normalizeUf(\n    pickField(\n      row,\n      'uf',\n      'UF',\n      'estado',\n      'Estado',\n      'seller_uf',\n      'seller_state',\n      'state',\n      'ufFilial',\n      'uffilial',\n      'estadoFilial',\n      'estadofilial',\n      'localizacao',\n      'localização',\n      'location',\n      'cidade',\n      'municipio',\n      'município',\n      'endereco',\n      'endereço'\n    ) || ''\n  );\n}\n\nfunction normalizeCnpj(value) {\n  const text = String(value || '');\n  const match = text.match(/\\d{2}\\.?\\d{3}\\.?\\d{3}\\/?\\d{4}-?\\d{2}/);\n  if (!match) return '';\n  const digits = match[0].replace(/\\D/g, '');\n  return digits.length === 14 ? digits : '';\n}\n\nfunction cnpjFromRow(row) {\n  return normalizeCnpj(\n    pickField(\n      row,\n      'cnpj',\n      'CNPJ',\n      'seller_cnpj',\n      'cnpjFilial',\n      'cnpjfilial',\n      'cnpjEmpresa',\n      'cnpjempresa',\n      'cnpjFornecedor',\n      'cnpjfornecedor',\n      'documento',\n      'document',\n      'tax_id'\n    ) || ''\n  );\n}\n\nfunction brandLabel(row) {\n  return String(\n    pickField(row, 'fabricante', 'montadora', 'automaker', 'marca', 'brand') || ''\n  ).trim();\n}\n\nfunction productTitle(row) {\n  const name = String(pickField(row, 'produto', 'product_name', 'descricao') || '').trim();\n  const tipoCode = stockTypeCode(row);\n  if (!tipoCode) return name;\n  if (!name) return '[' + tipoCode + ']';\n  return name + ' [' + tipoCode + ']';\n}\n\n/** API Diversos has no product URL — Detalhado url_produto and Resumo LINK stay empty. */\nfunction productUrlForSheet(_sku, _row) {\n  return '';\n}\n\n/** @deprecated — seller contact no longer written to sheets */\nfunction buildContactInfo(_sku, _row) {\n  return productUrlForSheet();\n}\n\n/** @deprecated */\nfunction buildProductUrl(sku, row) {\n  return productUrlForSheet(sku, row);\n}\n\nfunction buildDemandUrl(sku) {\n  const base = (\n    readEnv('MUVSTOK_BASE_URL') ||\n    readEnv('CDP_MUVSTOK_DEMAND_BASE') ||\n    'https://data-bi.muvstok.com.br/api/Demand'\n  )\n    .trim()\n    .replace(/\\/+$/, '');\n  const code = String(sku || '').trim();\n  return code ? base + '/?sku=' + encodeURIComponent(code) : base;\n}\n\nfunction parseIsoMs(value) {\n  if (!value) return NaN;\n  const s = String(value).trim();\n  if (!s) return NaN;\n  const normalized = s.includes('T') ? s.replace('Z', '+00:00') : s;\n  const ms = Date.parse(normalized);\n  return Number.isFinite(ms) ? ms : NaN;\n}\n\nfunction resolveJobDurationSeconds(payload, meta, completedAt, startedAt) {\n  const fromApi = Number(payload?.duration_seconds);\n  if (Number.isFinite(fromApi) && fromApi > 0) {\n    return Math.round(fromApi * 100) / 100;\n  }\n  const endMs = parseIsoMs(completedAt || payload?.completed_at);\n  const startMs = parseIsoMs(\n    startedAt || payload?.started_at || meta?.dispatched_at || meta?.processing_started_at\n  );\n  if (Number.isFinite(endMs) && Number.isFinite(startMs) && endMs >= startMs) {\n    return Math.round(((endMs - startMs) / 1000) * 100) / 100;\n  }\n  return 0;\n}\n\nfunction skuSearchTimeMs(skuResult) {\n  const ms = Number(skuResult?.duration_ms);\n  return Number.isFinite(ms) && ms >= 0 ? Math.round(ms) : 0;\n}\n\n/** Resumo MELHOR PREÇO = lowest valorPrecoVenda across priced in-stock rows. */\nfunction bestOfferFromListings(listings) {\n  const priced = rowsForPricing(listings);\n  let bestPrice = null;\n  let bestSite = '';\n  for (const row of priced) {\n    if (!row || typeof row !== 'object') continue;\n    const p = salePriceFromRow(row);\n    if (p === null) continue;\n    if (bestPrice === null || p < bestPrice) {\n      bestPrice = p;\n      bestSite = branchLabel(row) || CDP_SITE_LABEL;\n    }\n  }\n  return { bestPrice, bestSite };\n}\n\nfunction normalizeResultStatus(value, rows) {\n  const raw = String(value || '').trim().toUpperCase();\n  if (\n    raw === 'FOUND_PRICE' ||\n    raw === 'NO_PRICE' ||\n    raw === 'NOT_FOUND' ||\n    raw === 'BLOCKED' ||\n    raw === 'TIMEOUT' ||\n    raw === 'ERROR' ||\n    raw === 'NOT_QUERIED'\n  ) {\n    return raw;\n  }\n  const lower = String(value || '').trim().toLowerCase();\n  if (lower.includes('blocked') || lower.includes('captcha') || lower.includes('403')) return 'BLOCKED';\n  if (lower.includes('timeout')) return 'TIMEOUT';\n  if (lower.includes('error') || lower.includes('failed') || lower.includes('http_')) return 'ERROR';\n  if (lower.includes('not_found') || lower.includes('not found') || lower.includes('no_results')) return 'NOT_FOUND';\n  if (lower.includes('no_price') || lower.includes('sem_preco')) return 'NO_PRICE';\n  const arr = Array.isArray(rows) ? rows : [];\n  if (!arr.length) return 'NOT_FOUND';\n  return hasValidPrice(rows) ? 'FOUND_PRICE' : 'NO_PRICE';\n}\n\nfunction normalizeSourceHealth(value, skuResult) {\n  const raw = String(value || skuResult?.source_health || '').trim().toUpperCase();\n  if (raw === 'OK' || raw === 'WORKING') return 'WORKING';\n  if (raw === 'BLOCKED' || raw === 'TIMEOUT' || raw === 'ERROR' || raw === 'NOT_QUERIED') return raw;\n  const result = normalizeResultStatus(skuResult?.sku_result || skuResult?.status || '', skuResult?.rows);\n  if (result === 'BLOCKED' || result === 'TIMEOUT' || result === 'ERROR' || result === 'NOT_QUERIED') {\n    return result;\n  }\n  return 'WORKING';\n}\n\nfunction hasValidPrice(rows) {\n  return rowsForPricing(rows).some((row) => salePriceFromRow(row) !== null);\n}\n\nfunction sheetStatusForResult(resultStatus, hasPrice) {\n  const raw = String(resultStatus || '').trim().toUpperCase();\n  const lower = String(resultStatus || '').trim().toLowerCase();\n  const status = normalizeResultStatus(resultStatus, []);\n  const explicitNegative =\n    raw === 'NO_PRICE' ||\n    raw === 'NOT_FOUND' ||\n    raw === 'BLOCKED' ||\n    raw === 'TIMEOUT' ||\n    raw === 'ERROR' ||\n    raw === 'NOT_QUERIED' ||\n    lower.includes('no_price') ||\n    lower.includes('sem_preco') ||\n    lower.includes('not_found') ||\n    lower.includes('not found') ||\n    lower.includes('blocked') ||\n    lower.includes('captcha') ||\n    lower.includes('timeout') ||\n    lower.includes('error') ||\n    lower.includes('failed') ||\n    lower.includes('http_');\n  if (status === 'FOUND_PRICE' || (hasPrice && !explicitNegative)) return '✅ Encontrado';\n  if (status === 'NO_PRICE') return '⚠️ Sem preço';\n  if (status === 'BLOCKED') return '🚫 Bloqueado';\n  if (status === 'TIMEOUT' || status === 'ERROR') return '⚠️ Erro';\n  return '❌ Não encontrado';\n}\n\nfunction availabilityForResult(resultStatus, stock) {\n  const status = normalizeResultStatus(resultStatus, []);\n  if (status === 'FOUND_PRICE') return toAvailabilityPt(stock);\n  if (status === 'NO_PRICE') return 'sem_preco';\n  if (status === 'BLOCKED') return 'bloqueado';\n  if (status === 'TIMEOUT') return 'timeout';\n  if (status === 'ERROR') return 'erro';\n  if (status === 'NOT_QUERIED') return 'sem_resultados';\n  return 'nao_encontrado';\n}\n\nfunction rawTitleForResult(resultStatus, fallback) {\n  const status = normalizeResultStatus(resultStatus, []);\n  const message = String(fallback || status || '').trim();\n  if (status === 'BLOCKED') return 'BLOQUEADO: ' + (message || 'API Diversos bloqueado');\n  if (status === 'TIMEOUT') return 'TIMEOUT: ' + (message || 'API Diversos timeout');\n  if (status === 'ERROR') return 'ERRO: ' + (message || 'API Diversos erro');\n  if (status === 'NO_PRICE') return 'SEM_PRECO: ' + (message || 'API Diversos sem preço');\n  if (status === 'NOT_FOUND') return 'NOT_FOUND';\n  return message || status;\n}\n// --- end muvstok_sheet_helpers ---\n\nfunction parseBody(raw) {\n  let p = raw;\n  if (typeof p === 'string') {\n    try { p = JSON.parse(p); } catch (e) { p = {}; }\n  }\n  return p && typeof p === 'object' ? p : {};\n}\nfunction pushResumo(out, sku, listings, st, skuResult) {\n  const skuStr = String(sku || '').trim();\n  if (!skuStr) return;\n  const offer = bestOfferFromListings(listings);\n  const bestPrice = offer.bestPrice;\n  const bestSite = offer.bestSite;\n  const resultStatus = normalizeResultStatus(skuResult?.sku_result || st, listings);\n  const hasPrice = Boolean(skuResult?.has_valid_price) || bestPrice !== null;\n  const status = sheetStatusForResult(resultStatus, hasPrice);\n  const melhor = formatResumoPreco(bestPrice);\n  const foundOrNoPrice = resultStatus === 'FOUND_PRICE' || resultStatus === 'NO_PRICE';\n  out.push({\n    json: {\n      CODIGO: skuStr,\n      STATUS: status,\n      STATUS_RESULTADO: resultStatus,\n      MELHOR_PRECO: melhor,\n      SITE: bestSite || (foundOrNoPrice ? CDP_SITE_LABEL : 'N/A'),\n      LINK: '',\n      DATA: new Date().toLocaleDateString('pt-BR'),\n    },\n  });\n}\n\nconst wh = $input.first().json;\nconst payload = parseBody(wh.body);\nconst warehouseResults = Array.isArray(payload.results) ? payload.results : [];\nconst items = Array.isArray(payload.items) ? payload.items : [];\nconst out = [];\n\nif (warehouseResults.length) {\n  for (const sr of warehouseResults) {\n    const listings = Array.isArray(sr.rows)\n      ? sr.rows\n      : Array.isArray(sr.listings)\n        ? sr.listings\n        : [];\n    pushResumo(out, sr.sku, listings, sr.status, sr);\n  }\n} else {\n  for (const item of items) {\n    pushResumo(out, item.sku, [], item.status, item);\n  }\n}\n\nif (!out.length) {\n  out.push({\n    json: {\n      CODIGO: 'SEM_DADOS',\n      STATUS: '❌ Não encontrado',\n      MELHOR_PRECO: 'N/A',\n      SITE: 'N/A',\n      LINK: '',\n      DATA: new Date().toLocaleDateString('pt-BR'),\n    },\n  });\n}\n\nreturn out;"
      },
      "id": "34a6954b-2808-49be-885a-880ab2cedb4b",
      "name": "📋 Extrair Resumo API Diversos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        624
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo",
          "mode": "list",
          "cachedResultName": "cdp_resultados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Resumo",
          "mode": "name",
          "cachedResultName": "Resumo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CODIGO": "={{ $json.CODIGO }}",
            "STATUS": "={{ $json.STATUS }}",
            "STATUS_RESULTADO": "={{ $json.STATUS_RESULTADO }}",
            "SITE": "={{ $json.SITE }}",
            "LINK": "={{ $json.LINK }}",
            "DATA": "={{ $json.DATA }}",
            "MELHOR PREÇO": "={{ $json.MELHOR_PRECO }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "7c1c457e-ae96-47dd-9609-48b56d3eac88",
      "name": "📋 Salvar → CDP_Resultados (Resumo)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        176,
        624
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ep05fPlF3xggWhWc",
          "name": "gcp sheets lucas@tktech"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let h = {};\ntry {\n  if (typeof $getWorkflowStaticData === 'function') {\n    h = $getWorkflowStaticData('global').muvstok_last_callback?.historico || {};\n  }\n} catch (e) {}\nreturn [{ json: h }];"
      },
      "id": "870e4161-3e99-428d-b110-9b4ac7121ade",
      "name": "📊 Construir Historico API Diversos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        48
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo",
          "mode": "list",
          "cachedResultName": "cdp_resultados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZBU2d3XVsngOYQH12yU7Mg9DcIzVet2dDmhMtZqHSOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Historico",
          "mode": "name",
          "cachedResultName": "Historico"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.job_id }}",
            "origem": "={{ $json.origem }}",
            "solicitante": "={{ $json.solicitante }}",
            "disparado_em": "={{ $json.disparado_em }}",
            "concluido_em": "={{ $json.concluido_em }}",
            "tempo_segundos": "={{ $json.tempo_segundos }}",
            "status": "={{ $json.status }}",
            "skus_lidos": "={{ $json.skus_lidos }}",
            "skus_validos": "={{ $json.skus_validos }}",
            "skus_encontrados": "={{ $json.skus_encontrados }}",
            "skus_falhos": "={{ $json.skus_falhos }}",
            "skus_not_found": "={{ $json.skus_not_found }}",
            "skus_blocked": "={{ $json.skus_blocked }}",
            "skus_error": "={{ $json.skus_error }}",
            "taxa_sucesso_sku": "={{ $json.taxa_sucesso_sku }}",
            "taxa_sucesso_sites": "={{ $json.taxa_sucesso_sites }}",
            "sites_pesquisados": "={{ $json.sites_pesquisados }}",
            "resumo_sites": "={{ $json.resumo_sites }}",
            "lista_skus_csv": "={{ $json.lista_skus_csv }}",
            "skus_repetidos": "={{ $json.skus_repetidos }}",
            "job_error": "={{ $json.job_error }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "13183747-4e0e-4c41-8c52-080dcf306f1d",
      "name": "📊 Salvar → CDP_Resultados (Historico)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        48
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ep05fPlF3xggWhWc",
          "name": "gcp sheets lucas@tktech"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "d83f487f-38f5-4d1c-bac9-ca91f82598c8",
      "name": "📄 Ler CDP_SKUs (linhas)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        160
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1IGhsIhrwlnMaCduR-W-eIi9O4mMO2pPYjE-tefgIPII",
          "mode": "list",
          "cachedResultName": "cdp_skus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IGhsIhrwlnMaCduR-W-eIi9O4mMO2pPYjE-tefgIPII/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 843035952,
          "mode": "list",
          "cachedResultName": "SKUs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IGhsIhrwlnMaCduR-W-eIi9O4mMO2pPYjE-tefgIPII/edit#gid=843035952"
        },
        "options": {}
      },
      "notes": "Reads SKUs rows (CODIGO + row_number) so duplicate CODIGO rows can each be marked by row_number. Single input item (from Historico) → runs once.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ep05fPlF3xggWhWc",
          "name": "gcp sheets lucas@tktech"
        }
      }
    },
    {
      "id": "2576a2a9-eed8-4b69-a4aa-bc81e629aeb4",
      "name": "🧭 Mapear linhas por CODIGO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        160
      ],
      "parameters": {
        "jsCode": "// Map each API Diversos result SKU to ALL matching sheet rows (handles duplicate CODIGO rows).\nlet meta = {};\ntry {\n  if (typeof $getWorkflowStaticData === 'function') {\n    meta = $getWorkflowStaticData('global').muvstok_last_callback || {};\n  }\n} catch (e) {}\nconst updates = Array.isArray(meta.sku_updates) ? meta.sku_updates : [];\nconst byCodigo = {};\nfor (const u of updates) {\n  const key = String(u.sku == null ? '' : u.sku).trim().toUpperCase();\n  if (key) byCodigo[key] = u;\n}\nfunction pickSheetField(row, base) {\n  if (!row || typeof row !== 'object') return '';\n  const robot = base + ' 🤖';\n  for (const k of [base, robot]) {\n    const v = row[k];\n    if (v !== null && v !== undefined && String(v).trim() !== '') return v;\n  }\n  return row[base] ?? row[robot] ?? '';\n}\nfunction normalizeSheetStatus(value) {\n  let s = String(value || '').trim().toLowerCase();\n  try { s = s.normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); } catch (e) {}\n  s = s.replace(/[^a-z0-9]+/g, ' ').trim();\n  if (!s) return '';\n  if (s.includes('sem preco') || s.includes('sem melhor preco') || s.includes('s preco') || s.includes('no price')) return 'sem_preco';\n  if (s.includes('nao encontrado') || s.includes('not found')) return 'nao_encontrado';\n  if (s.includes('bloqueado') || s.includes('blocked')) return 'bloqueado';\n  if (s.includes('encontrado') || s === 'found') return 'encontrado';\n  if (s.includes('processando') || s.includes('processing')) return 'processando';\n  return s;\n}\nfunction sheetStatusRank(value) {\n  const ranks = { processando: 0, nao_encontrado: 1, bloqueado: 2, sem_preco: 3, encontrado: 4 };\n  const key = normalizeSheetStatus(value);\n  return Object.prototype.hasOwnProperty.call(ranks, key) ? ranks[key] : -1;\n}\nfunction chooseSheetStatus(current, candidate) {\n  return sheetStatusRank(current) > sheetStatusRank(candidate) ? current : candidate;\n}\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const row = item.json || {};\n  const rn = row.row_number;\n  if (rn === undefined || rn === null || rn === '') continue;\n  const codigo = String(row.CODIGO == null ? '' : row.CODIGO).trim().toUpperCase();\n  const u = byCodigo[codigo];\n  if (!u) continue;\n  const encontrado = chooseSheetStatus(pickSheetField(row, 'ENCONTRADO'), u.ENCONTRADO);\n  out.push({\n    json: { ...row, PROCESSADO: u.PROCESSADO, ENCONTRADO: encontrado },\n    pairedItem: item.pairedItem ?? { item: i },\n  });\n}\nreturn out;\n"
      },
      "notes": "Fan out one update per sheet row by row_number. Code node runs once over all rows; reads sku_updates from staticData (set by Extrair linhas)."
    },
    {
      "id": "5bd70964-cd6c-41b8-9f35-api-email-if",
      "name": "Enviar Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        624,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "send-email",
              "leftValue": "={{ $json.notify === 'email' && !$json.skip && !!$json.email_to }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f52ddaa8-0f28-4fc1-api-diversos-email",
      "name": "📧 Email API Diversos",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        720
      ],
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "rQesNRyarukVs0N4",
          "name": "gmail lucas@tktech"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// cdp_stokapi — POST aggregate pipeline handoff to cdp_notifier after Sheets writes.\n\nfunction env(name) {\n  try {\n    if (typeof $env !== 'undefined' && $env && $env[name]) {\n      return String($env[name]).trim();\n    }\n  } catch (e) {}\n  try {\n    if (typeof process !== 'undefined' && process.env && process.env[name]) {\n      return String(process.env[name]).trim();\n    }\n  } catch (e) {}\n  return '';\n}\n\nfunction workflowName() {\n  try {\n    if (typeof $workflow !== 'undefined' && $workflow && $workflow.name) {\n      return String($workflow.name).trim();\n    }\n  } catch (e) {}\n  return '';\n}\n\nfunction isDevWorkflow() {\n  return /^DEV\\s*-/i.test(workflowName());\n}\n\nfunction envFor(name) {\n  if (!isDevWorkflow()) return env(name);\n  const map = {\n    CDP_NOTIFIER_WEBHOOK_URL: 'CDP_DEV_NOTIFIER_WEBHOOK_URL',\n    WEBHOOK_URL: 'CDP_DEV_WEBHOOK_URL',\n    CDP_NOTIFIER_WEBHOOK_PATH: 'CDP_DEV_NOTIFIER_WEBHOOK_PATH',\n  };\n  const mapped = map[name] || '';\n  return mapped ? env(mapped) : env(name);\n}\n\nfunction trimTrailingSlashes(value) {\n  let out = String(value || '').trim();\n  while (out.endsWith('/')) out = out.slice(0, -1);\n  return out;\n}\n\nfunction trimSlashes(value) {\n  let out = String(value || '').trim();\n  while (out.startsWith('/')) out = out.slice(1);\n  while (out.endsWith('/')) out = out.slice(0, -1);\n  return out;\n}\n\nfunction parseBody(raw) {\n  let p = raw;\n  if (typeof p === 'string') {\n    try {\n      p = JSON.parse(p);\n    } catch (e) {\n      p = {};\n    }\n  }\n  return p && typeof p === 'object' ? p : {};\n}\n\nfunction rowPrice(row) {\n  const n = Number(row?.valorPrecoVenda ?? row?.valorprecovenda ?? row?.valorprecavenda ?? row?.price ?? row?.preco);\n  return Number.isFinite(n) && n > 0 ? n : null;\n}\n\nfunction countPayloadSummary(payload) {\n  const totals = { with_price: 0, no_price: 0, not_found: 0, blocked: 0, errors: 0 };\n  const results = Array.isArray(payload.results) ? payload.results : [];\n  for (const item of results) {\n    const rows = Array.isArray(item.rows) ? item.rows : Array.isArray(item.listings) ? item.listings : [];\n    const status = String(item.sku_result || item.status || '').trim().toUpperCase();\n    if (rows.some((row) => rowPrice(row) !== null)) totals.with_price += 1;\n    else if (rows.length) totals.no_price += 1;\n    else if (status === 'BLOCKED') totals.blocked += 1;\n    else if (status === 'TIMEOUT' || status === 'ERROR' || status === 'FAILED') totals.errors += 1;\n    else totals.not_found += 1;\n  }\n  return totals;\n}\n\nlet j = {};\ntry {\n  if (typeof $getWorkflowStaticData === 'function') {\n    j = $getWorkflowStaticData('global').muvstok_last_callback || {};\n  }\n} catch (e) {}\n\nconst wh = $('🔔 Webhook API Diversos Result').first().json;\nconst payload = parseBody(wh.body);\nconst q = wh.query || {};\nconst jmeta =\n  typeof payload.metadata === 'object' && payload.metadata !== null\n    ? payload.metadata\n    : typeof payload.job_metadata === 'object' && payload.job_metadata !== null\n      ? payload.job_metadata\n      : {};\n\nconst deliveryMode = String(jmeta.delivery_mode || q.delivery_mode || j.delivery_mode || '')\n  .trim()\n  .toLowerCase();\nif (deliveryMode !== 'aggregate') {\n  return [];\n}\n\nconst batchGroupId = String(jmeta.batch_group_id || q.batch_group_id || j.batch_group_id || '').trim();\nif (!batchGroupId) {\n  return [];\n}\n\nconst fail = Number(j.failed_sku_count) || Number(payload.failed_sku_count) || 0;\nconst ok = Number(j.succeeded_sku_count) || Number(payload.succeeded_sku_count) || 0;\nconst pipelineStatus = fail > 0 && ok === 0 ? 'failed' : 'completed';\nconst fallback = countPayloadSummary(payload);\n\nlet notifierUrl = envFor('CDP_NOTIFIER_WEBHOOK_URL');\nif (!notifierUrl) {\n  const base = trimTrailingSlashes(envFor('WEBHOOK_URL') || 'https://automacao.tktechnologies.com.br');\n  const rel = trimSlashes(envFor('CDP_NOTIFIER_WEBHOOK_PATH') || 'webhook/cdp-notifier');\n  notifierUrl = base + '/' + rel;\n}\n\nreturn [\n  {\n    json: {\n      notifier_url: notifierUrl,\n      handoff_body: {\n        batch_group_id: batchGroupId,\n        source: 'stokapi',\n        status: pipelineStatus,\n        summary: {\n          with_price: Number(j.found_sku_count) || Number(j.priced_sku_count) || fallback.with_price,\n          no_price: Number(j.no_price_sku_count) || fallback.no_price,\n          not_found: Number(j.not_found_sku_count) || fallback.not_found,\n          blocked: Number(j.blocked_sku_count) || fallback.blocked,\n          errors: Number(j.error_sku_count) || Number(j.failed_sku_count) || fallback.errors,\n          duration_seconds: Number(j.duration_seconds) || Number(payload.duration_seconds) || null,\n          status: pipelineStatus,\n          failed_reason: pipelineStatus === 'failed' ? String(j.error || j.error_text || '') : null,\n        },\n      },\n    },\n  },\n];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "7e8af1a2-b855-4438-8574-b3aaf4a69942",
      "name": "📣 Preparar handoff notifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        400
      ],
      "notes": "Aggregate delivery: POST compact summary to cdp_notifier."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.notifier_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.handoff_body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a3137ebd-1fb3-435c-ab9a-9bb9a9e0d209",
      "name": "📤 POST cdp-notifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        400
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "🔔 Webhook API Diversos Result": {
      "main": [
        [
          {
            "node": "🔐 Verificar Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Verificar Webhook Secret": {
      "main": [
        [
          {
            "node": "Secret válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret válido?": {
      "main": [
        [
          {
            "node": "📋 Extrair Resumo API Diversos",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Extrair linhas API Diversos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚫 Secret inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Extrair linhas API Diversos": {
      "main": [
        [
          {
            "node": "📊 Salvar → CDP_Resultados (Detalhado)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 SKUs para atualizar",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Construir Historico API Diversos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 SKUs para atualizar": {
      "main": [
        [
          {
            "node": "📣 Formatar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📣 Formatar Telegram": {
      "main": [
        [
          {
            "node": "Enviar Telegram?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Telegram?": {
      "main": [
        [
          {
            "node": "📱 Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📊 Construir Historico API Diversos": {
      "main": [
        [
          {
            "node": "📊 Salvar → CDP_Resultados (Historico)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📄 Ler CDP_SKUs (linhas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Salvar → CDP_Resultados (Historico)": {
      "main": []
    },
    "📊 Salvar → CDP_Resultados (Detalhado)": {
      "main": []
    },
    "📋 Extrair Resumo API Diversos": {
      "main": [
        [
          {
            "node": "📋 Salvar → CDP_Resultados (Resumo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Salvar → CDP_Resultados (Resumo)": {
      "main": [
        [
          {
            "node": "📣 Preparar handoff notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Ler CDP_SKUs (linhas)": {
      "main": [
        [
          {
            "node": "🧭 Mapear linhas por CODIGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧭 Mapear linhas por CODIGO": {
      "main": [
        [
          {
            "node": "✅ Atualizar CDP_SKUs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email?": {
      "main": [
        [
          {
            "node": "📧 Email API Diversos",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📣 Preparar handoff notifier": {
      "main": [
        [
          {
            "node": "📤 POST cdp-notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 POST cdp-notifier": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  }
}
